body {
background-color: #3282b8;
padding-top: 3.5rem;
}

.btn {
  background-color: #3282b8;
}

.btn:active {
  transform: scale(0.95);
}

.btn:hover {
  filter: brightness(125%);
}

.card-bg {
  background-color: #bbe1fa;
}

.card-heading {
  background-color: #0f4c75;
  color: #FFF;
  margin-top: 25px;
}

.footer {
  height: 20px;
}

.heading-padding {
  padding-bottom: 16px;
}

img {
  margin: 0 5px;
  max-width: 100%;
  border-radius: 50%;
}

img:hover {
   background-color: #3282b8;
   filter: brightness(40%);
 }

.navbar {
  background-color: #1b262c;
}

p {
  font-size: 17px;
}

.top-margin {
  margin-top: 20px;
}

video {
  max-width: 100%;
}
